.graph-container {
    height: 100%;
    flex-basis: 80%;
    background-color: lightgrey;
    min-width: 1020px;
}

.artist {
   
    position: absolute;
    transform: translate(-10%, -0%);
    
    
}

path:hover {
    opacity: 90%;
    display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transform: translateY(-8px)
}